*{
    font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

body, html {
    margin: 0;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h2,h3{
    padding: 30px;
}

.head{
    background-color: rgb(189, 186, 186);
    height: auto;
    width: 100%;
}

h1.text{
    font-size: 25px;
}

img.logo{
    padding: 0 60px;
}
nav{
    height: 50px;
    width: 100%;
    background-color:rgb(218, 149, 22);
    box-shadow: 0px 8px 10px #473f3faf;
}

nav ul{
    margin-left: 120px;
}

nav ul li{
    display: inline-block;
    line-height: 50px;
    margin: 0 7px;
}

nav ul li a{
    color: white;
    text-transform: uppercase;
}

nav ul li a:hover{
    color: red;
    transition: 25ms;
}

#content {
    padding: 120px;
    margin: auto;
    font-size: 18px;
}

#content th{
    padding: 12px 15px;
}

#content td {
    padding: 12px 15px;
    font-size: 18px;
}

#content tr:nth-of-type(odd) {
    background-color: rgb(245, 189, 84);
}


button{
    margin-top: 20px;
    padding: 10px 25px;
    background-color:rgb(245, 189, 84);
    border: none;
    border-radius: 70px;
    cursor: pointer;
}

button:hover{
    transform: scale(1.1);
    transition: all .2s;
    z-index: 100;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.158);
}